@import url(https://fonts.googleapis.com/css?family=Karla:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Acme:regular);

/* GENERAL START */
body {
    width: 100%;
    min-width: 375px;
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    color: #383838;
}

.container {
    margin: 0px 50px;
    max-width: 1440px;
}

header {
    background-color: #FFFFFF;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

/* GENERAL END */

/* DROPDOWN LIST START */
.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn > li > a{
    display: flex;
    font-size: 14px;
} 

.dropbtn > li > a > img {
    width: 12px;
    height: 10px;
    margin-left: 4px;
    margin-top: 5px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffffff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #383838;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #c1c1c1;
}

.dropdown:hover .dropdown-content {
    display: block;
} 
/* DROPDOWN LIST END */

/* BURGER MENU START */
a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: #383838;
  font-weight: 600;
}

#menuToggle
{
  top: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 19px;
  left: 25px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 16px;
  height: 1px;
  margin-bottom: 5px;
  position: relative;
  left: 18px;
  background: #383838;
  border-radius: 1px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(1px, 3px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  min-width: 320px;
  width: 100vw;
  height: 1000%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  text-align:center;
  background: #f3f3f3;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
/* BURGER MENU END */

/* HEADER START */
header{
    position:fixed;
    width: 100%;
    z-index: 2;
}
.header-content {
    display: flex;
    align-self: center;
    height: 93px;
}

.header-content>.header-item {
    width: 33%;
    align-self: center;
}

.header-content>.header-item>ul {
    display: flex;
    justify-content: center;
    width: 66%;
    list-style-type: none;
    color: #000000;
    margin: 0px 15px;
}

.menu{
    display: none;
}

.right {
    display: flex;
    justify-content: end;
}

.cart {
    display: flex;
    justify-content: end;
}

.header-content>.header-item>ul>li {
    align-self: center;
    margin: 0px 25px;
    transition: 0.3s;
}

.header-content>.header-item>ul>li>a {
    color: #383838;
    text-decoration: none;
    position: relative;
}

.header-content>.header-item>ul>li:hover {
    transform: scale(1.1);
}

.header-content>.header-item>ul>li>a>img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 8px;
}

.right>a>img {
    width: 18px;
    height: 18px;
    margin-left: 25px;
    transition: 0.3s;
}

.right>a>img:hover {
    transform: scale(1.2);
}

/* HEADER END */

/* PROMO START */
.promo {
    padding-top: 93px;
    background-color: #1EA8DD;
}

.promo-content {
    display: flex;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
}

.promo-content>h5 {
    width: 33%;
    display: inline;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    margin: 0px 10px;
}

.promo-content>h5>img {
    margin-left: 10px;
}

/* PROMO END */

/* BANNER START */
.banner {
    background: url(assets/background.png);
    width: 100%;
    height: 600px;
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}

h1 {
    width: 722px;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101px;
    margin: 0;
    padding-top: 123px;
}

.banner-content>p {
    font-family: 'Karla';
    font-style: normal;
    width: 514px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 0;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

a>.button {
    color: #FFFFFF;
    padding: 15px 70px;
    width: 94px;
    background: #E9292F;
    border-radius: 28px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    transition: .3s;
}

a>.button>p{
    margin: 0;
}

.banner-content>a>.button {
    margin-top: 50px;
}

.button:hover {
    background: #ce3338;
    transform: scale(1.05);
}

/* BANNER END */

/* COMPANIES START */
.wrapper {
    display: none;
}

.companies {
    height: 189px;
    background-color: #F5F5F5;
    margin-bottom: 20px;
}

.companies-content {
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    padding-bottom: 55px;
}

.companies-content>img {
    height: 100%;
    align-self: center;
}

/* COMPANIES END */

/* CATEGORIES START */
h2 {
    margin: 0;
    padding-top: 32px;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 70px;
}

.row {
    margin-bottom: 20px;
}

.left{
    padding-right: 5px;
}

.right{
    padding-left: 5px;
}

.content {
    padding-top: 50px;
}

.category {
    width: 660px;
    display: flex;
    justify-content: start;
}

.category>.description {
    width: 341px;
    height: 319px;
    margin: 0;
    background-color: #F5F5F5;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

h3 {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    margin: 0;
}

.description>a {
    color: #383838;
}

.description>a>p {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 32px;
}

.description>.label>a>.button {
    padding: 15px 50px;
    width: 84px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
    text-align: center;
}

.change-photos {
    object-fit: cover;
}

.change-photos .change:nth-of-type(2) {
    display: none;
}

.change-photos:hover .change:nth-of-type(1) {
    display: none;
}

.change-photos:hover .change:nth-of-type(2) {
    display: block;
}

.change-photos:hover {
    cursor: pointer;
}

/* CATEGORIES END */

/* POPULAR START */
.arrows {
    width: 140px;
    padding-top: 60px;
}

.arrows>img {
    width: 60px;
    height: 60px;
    transition: 0.3s;
}

.arrows>img:hover {
    transform: scale(1.2);
}

.popular {
    padding-bottom: 124px;
}

.popular-content {
    margin-top: 48px;
}

.popular-content>.content {
    display: flex;
}

.content>.item {
    padding-right: 20px;
}

h2 {
    padding-top: 80px;
}

.photo {
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
}

.photo>a>img {
    transition: transform 0.25s;
}

.photo>a:hover img {
    transform: scale(1.1);
}

h4 {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    margin: 0;
}

.description>.label>a {
    color: #383838;
}

.popular-content>.content {
    padding-top: 73px;
}

.item>.description {
    margin-top: 15px;
    width: 547px;
}

.item>.description>a>p {
    width: 274px;
    margin: 0;
    margin-top: 2px;
}

.adaptive-description-text{
    display: none;
}

/* POPULAR END */

/* SLIDER START */
.slider {
    max-width: 100%;
    overflow: hidden;
}

.slider-line {
    width: 1024px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

/* SLIDER END */

/* ADAPTIVE START */
@media (max-width: 1400px) {
    .promo-content>h5 {
        font-size: 16px;
    }

    .promo-content>h5>img {
        display: none;
    }

    .companies-content{
        display: none;
    }

    .wrapper {
        display: block;
    }

    .row{
        flex-direction: column;
        margin: 0;
    }

    .left,.right{
        padding-right: 0px;
        padding-left: 0px;
    }

    .category{
        margin: 0 auto;
        margin-bottom: 18px;
    }

}

@media (max-width: 1024px) {
    .logo {
        width: 50%;
        height: 50%;
    }

    .header-content>.header-item>ul>li>a {
        font-size: 14px;
    }

    .promo-content>h5 {
        font-size: 14px;
    }

    h2{
        font-size: 50px;
    }

}

@media (max-width: 768px) {
    h1{
        font-size: 50px;
        width: 500px;
        line-height: 63px;
    }

    .header-content {
        height: 63px;
    }

    .promo{
        padding-top: 62px;
    }

    .promo-content {
        height: 36px;
    }

    .logo {
        width: 65%;
        height: 65%;
    }

    .header-content>.header-item>ul>li>a {
        font-size: 10px;
    }

    .header-content>.header-item>ul>li {
        margin: 0px 13px;
    }

    .header-content>.header-item>ul>li>a>img {
        margin-left: 2px;
    }

    .right>a>img {
        width: 16px;
        height: 16px;
        margin-left: 15px;
    }

    .promo-content>h5 {
        font-size: 12px;
        text-align: center;
    }

    .row{
        flex-direction:row;
    }

    .category{
        flex-direction: column;
        align-items: center;
    }

    .category > .photo > a {
        height: 0px;
        background-color: #F5F5F5;
    }
    .change-photos > .photo>a>img {
        width: 230px;
        height: 230px;
        border-radius: 15px 15px 0px 0px;
    }

    .category > .description {
        width: 166px;
        height: 200px;
        border-radius: 0px 0px 15px 15px;
    }
    .description > a > h3{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .category > .description > a > p{
        display: none;
    }

    .description>a>.button {
        width: 76px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        padding: 15px 50px;
    }

    .change-photos{
        width: 230px;
        height: 230px;
    }

    .change-photos > .photo{
        width: 230px;
        height: 230px;
        border-radius: 15px 15px 0px 0px;
    }

    .item>.photo>a>img {
        width: 450px;
        height: 450px;
    }

    .item > .description {
        width: 450px;
    }
}

@media (max-width: 578px) {
    .container{
        margin: 0px 15px;
    }

    .header-content{
        height: 70px;
    }
    .promo{
        display: none;
    }

    .header-item>ul>li{
        display: none;
    }

    .logo {
        width: 151px;
        height: 40px;
    }

    .menu{
        display: flex;
    }

    .right>a>img {
        width: 16px;
        height: 16px;
        margin-left: 25px;
    }

    h1{
        font-size: 50px;
        width: 342px;
        line-height: 63px;
    }

    .promo-content>h5 {
        font-size: 9px;
        text-align: center;
    }

    .banner-content>p {
        font-size: 18px;
        width: 326px;
        margin-left:8px;
        margin-right: 8px;
    }
    .banner-content>a>.button {
        margin-top: 40px;
        width: 76px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        padding: 15px 50px;
    }

    h2 {
        font-size: 35px;
        line-height: 44px;
        padding: 0;
    }

    .categories-content > h2{
        margin-top: 60px;
    }

    .content{
        padding-top: 40px;
    }

    .title{
        padding-top: 62px;
    }

    a>.button>p{
        width: 73px;
    }

    .description > a>.button{
        font-size: 12px;
        line-height: 14px;
        width: 63px;
        padding: 10px 33px;
    }

    .change-photos .photo>a>img, .change-photos, .change-photos .photo {
        width: 165px;
        height: 165px;
    }

    .category > .description {
        width: 100px;
        height: 122px;
        padding-bottom:0;
        justify-content: start;
    }
    .description > a > h3{
        font-size: 20px;
        line-height: 25px;
        margin-top: 15px;
    }

    a>.button {
        color: #FFFFFF;
        padding: 15px 70px;
        width: 94px;
        background: #E9292F;
        border-radius: 28px;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        transition: .3s;
    }

    .item>.photo>a>img {
        width: 345px;
        height: 345px;
    }

    .item > .description {
        width: 345px;
    }

    .arrows{
        width: 95px;
        height: 40px;
        padding: 0;
    }
    .arrows>img {
        width: 40px;
        height: 40px;
    }

    .description > .label {
        flex-direction: column;
        width: 100%;
    }

    .description>.label>a>.button {
        width: 245px;
        height: 16px;
        margin-top: 20px;
    }

    .description>.label>a>.button:hover {
        transform: scale(1);
        font-size: 22px;
    }

    .description>.label>a>p{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin-top: 15px;
    }

    .adaptive-description-text{
        display: flex;
    }

    .description-text{
        display: none;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #f3f3f3;
    }

    .dropdown-content {
        left: 37%;
    }
}
/* ADAPTIVE END */