@import url(https://fonts.googleapis.com/css?family=Karla:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Acme:regular);

/* GENERAL START */
body {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    color: #383838;
}

.container {
    margin: 0px 50px;
}

header {
    background-color: #FFFFFF;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

/* GENERAL END */

/* HEADER START */
.header-content {
    display: flex;
    align-self: center;
    height: 93px;
}

.header-content>.header-item {
    width: 33%;
    align-self: center;
}

.header-content>.header-item>ul {
    display: flex;
    justify-content: center;
    width: 66%;
    list-style-type: none;
    color: #000000;
    margin: 0px 15px;
}

.right {
    display: flex;
    justify-content: end;
}

.cart {
    display: flex;
    justify-content: end;
}

.header-content>.header-item>ul>li {
    align-self: center;
    margin: 0px 25px;
}

.header-content>.header-item>ul>li>a {
    text-decoration: none;
    position: relative;
}

.header-content>.header-item>ul>li>a>img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 8px;
}

.right>a>img {
    width: 18px;
    height: 18px;
    margin-left: 25px;
}

/* HEADER END */

/* PROMO START */
.promo {
    background-color: #1EA8DD;
}

.promo-content {
    display: flex;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
}

.promo-content>h5 {
    width: 33%;
    display: inline;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    align-self: center;
    margin: 0px 10px;
}

.promo-content>h5>img {
    margin-left: 10px;
}

/* PROMO END */

/* BANNER START */
.banner {
    background: url(assets/background.png);
    width: 100%;
    height: 600px;
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}

h1 {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101px;
    margin: 0;
    padding-top: 123px;
}

.banner-content>p {
    font-family: 'Karla';
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 0;
    margin-top: 20px;
}

a{
    text-decoration: none;
}

a>.button{
    color: #FFFFFF;
    padding: 15px 70px;
    width: 94px;
    margin-top: 50px;
    background: #E9292F;
    border-radius: 28px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
/* BANNER END */

/* COMPANIES START */
.companies{
    height: 189px;
    background-color: #F5F5F5;
}

.companies-content{
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    padding-bottom: 55px;
}

.companies-content>img{
    height: 100%;
    align-self: center;
}
/* COMPANIES END */

/* CATEGORIES START */
h2{
    margin: 0;
    padding-top:32px;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 70px;
}

.row {
    margin-bottom: 20px;
}

.content{
    padding-top: 50px;
}

.category{
    width: 660px;
    display: flex;
    justify-content: start;
}

.category > .description{
    width: 341px;
    height: 319px;
    margin: 0;
    background-color: #F5F5F5;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center
}

h3 {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    margin: 0;
}

.description > p {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom:32px;
}

.description > a > .button {
    padding: 15px 50px;
    width: 84px;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    text-align: center;
}
/* CATEGORIES END */

/* POPULAR START */
.arrows{
    width: 140px;
    padding-top:32px;
}

.arrows > img {
    width: 60px;
    height: 60px;
}

.popular{
    padding-bottom: 56px;
}

.popular-content{
    margin-top: 48px;
}

.popular-content > .content { 
    display: flex;
}

.content > .item {
    margin-right: 20px;
}

.popular-content > h2 {
    padding-top: 80px;
}

h4 {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    margin: 0;
}

.description > .label > a > .button{
    margin: 0;
}

.popular-content > .content {
    padding-top: 73px;
}

.item > .description{
    margin-top: 20px;
    width: 547px;
}

.item > .description > p{
    width: 274px;
    margin: 0;
    margin-top: 2px;
}
/* POPULAR END */